<div style="width: 400px; margin: auto;">
    <div class="edit-form">
        <h4>Vehiculo</h4>
        <form>
            <div class="form-group">
                <label for="placa">Placa</label>
                <input type="text" class="form-control" id="placa" [(ngModel)]="vehiculo.placa" name="placa" />
            </div>
            <div class="form-group">
                <label for="marca">Marca</label>
                <input type="text" class="form-control" id="marca" [(ngModel)]="vehiculo.marca" name="marca" />
            </div>

            <div class="form-group">
                <label for="modelo">Modelo</label>
                <input type="text" class="form-control" id="modelo" [(ngModel)]="vehiculo.modelo" name="modelo" />
            </div>

            <div class="form-group">
                <label for="serie">Serie</label>
                <input type="text" class="form-control" id="serie" [(ngModel)]="vehiculo.serie" name="serie" />
            </div>

            <div class="form-group">
                <label for="color">Color</label>
                <input type="text" class="form-control" id="color" [(ngModel)]="vehiculo.color" name="color" />
            </div>

        </form>

        <br>
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-2">
                <button routerLink="/vehiculos">
                    Regresar
                </button>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-2">
                <button type="submit" (click)="saveVehiculo()">
                    Registrar
                </button>
            </div>
        </div>

        <p>{{ mensaje }}</p>
    </div>
    <div *ngIf="!vehiculo">
        <br />
        <p>No se puede acceder a este vehiculo...</p>
    </div>
</div>